#mycontainer
  padding: 50px
  nav
    display: flex
    justify-content: flex-start

    .nav-item
      margin: 5px
      background: gray
      padding: 10px 20px
      display: flex
      justify-content: center
      align-items: center

    a
      text-decoration: none
      color: #FFFFFF
